<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeMgwp1myzCqvmpAY9q4YgPDxqzHoDOe8</string>
	<key>GCM_SENDER_ID</key>
	<string>241102914119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tobetowork.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>toboto-work</string>
	<key>STORAGE_BUCKET</key>
	<string>toboto-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241102914119:ios:5b7cc6c0d5e96e37af6762</string>
</dict>
</plist>